* {
  background-color: azure;
}

.header, h1, h2 {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.searchCities {
  height: 100vh;
  width: 250px;
  padding: 20px;
  background-color: darkgreen;
  color: white;
  text-align: center;
  float: left;
}

.weather {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.todayForecast {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 40px auto;
  width: 700px;
}

.forecast {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 40px auto;
  width: 700px;
  margin-top: 40%;
}
